In [1]:
%sql
drop table if exists resq_testdemo.squirrel_activities;

In [2]:
%sql
-- What are the activities squirrels are doing and how many of them are there under different parks and park conditions
create table resq_testdemo.squirrel_activities
as 
select sq.park_name, 
case 
when pk.park_conditions = '"""Cool"" - Hank"' then 'cool' 
when pk.park_conditions like '%baseball%' then 'baseball_playing_time' 
when pk.park_conditions like '%ppl%' then '20_to_30_people_around'
when pk.park_conditions like '%hawk%' then 'hawk_around'
when pk.park_conditions is null then 'no_info'
else pk.park_conditions
end as park_conditions,
pk.temperature_and_weather,
sq.activities, 
count(sq.activities) as sq_activity_count 
from 
resq_testdemo.staging_squirrels sq 
join resq_testdemo.staging_parks pk
on sq.park_id = pk.park_id
where sq.activities is not null and pk.park_conditions is not null 
group by sq.park_name, 
pk.park_conditions,
pk.temperature_and_weather,
sq.activities 
order by sq_activity_count

In [3]:
%sql
--  create a view for squirrel activities whose squirrels count is more than 5

create or replace view resq_testdemo.v_squirrels_activities
as
select * from resq_testdemo.squirrel_activities
where sq_activity_count > 5